*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75)),url(touka.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(27, 27, 29, 0.4);

}

.navbar img{
    width: 25%;
    display: flex;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(88, 201, 182);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
    color: rgb(88, 201, 182);
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: whitesmoke;
}
.content h1{
    font-size: 80px;
    margin-top: 10px;
}
.content p{
    margin: 0;
    font-weight: 100;
    margin-top: 2%;
    font-size: 20px;
    line-height: 25px;
}
.aboutMe h1{
    font-size: 50px;
    text-align: center;
}
.logo{
    width: 20%;
    cursor: pointer;
}
.typing{
    color: mintcream;
}
.home-content{
    
    font-size: 25px;
}
.iAmA{
    margin-top: 2%;
}